@model Ultragamma.Models.Producto
@{
    if (ViewBag.Nivel == "Admin")
    {
        Layout = "_LayoutAdmin";
    }
    else if (ViewBag.Nivel == "Cliente")
    {
        Layout = "_LayoutUsuario";
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="~/css/Carousel.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Document</title>
</head>
<body>
    <main>
        <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
            <div class="me-md-3 pt-3+ px-md-5 text-center text-white overflow-hidden">
                <div class=" shadow-sm mx-auto" style="  background-size: cover; background-position: center;">
                    <div id="demo" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner" style="border-radius: 25px;">
                        @{
                            foreach (var i in ViewBag.Images)
                            {
                                if (i.ProductoId == ViewBag.ProductoId)
                                {
                                    <div class="carousel-item active" style="background: url(@i.DireccionImage); background-size: cover; background-position: center;">
                                    </div>
                                }
                            }
                        }
                        </div>

                        <!-- Left and right controls/icons -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>
                </div>
            </div>
            <form method="post">
                <div class="me-md-3 pt-3 px-3 pt-md-5 overflow-hidden">
                    <div class="mx-auto" style="width: 100%; height: auto;">
                        <h1>@Html.DisplayFor(model => model.Nombre)</h1>
                        <br>
                        <h5>$@Html.DisplayFor(model => model.Precio) MXN</h5>  <p class="" style="color: rgb(9, 10, 10);">En Stock @Html.DisplayFor(model => model.Existencia) pzas</p>
                        <h5>Descripción:</h5>
                        <p class="" style="color: rgb(9, 10, 10);">@Html.DisplayFor(model => model.Descripcion)</p>
                        <h5>Colores: @Html.DisplayFor(model => model.Color)</h5>
                        <br />
                        <h5>Tallas: @Html.DisplayFor(model => model.Talla)</h5>
                        <br />
                        <input name="Cantidad" type="number" value=1>
                        <br />
                        <div class="row g-3">
                            <div class="col-sm-3">
                                <input name="Precio" type="hidden" value="@Html.DisplayFor(model => model.Precio)" />
                                <input name="id" type="hidden" value="@Html.DisplayFor(model => model.Id)">
                                <button class="btn btn-primary text-white" asp-controller="Productos" asp-action="Productos">Editar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>

    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>